p {
    line-height: 1.6;
    font-size: 1.1rem;
    color:rgb(rgb(10, 2, 2), rgb(3, 3, 3), rgb(7, 7, 7))
}

{
width : 800px;
height : 600px;
margin : 0 auto;
padding : 100px;
padding color: rgb(4, 27, 21);
}

.background

    
.oswald-<uniquifier> body{
    font-family: "", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
    


h4{
color:blue ;

}
.p1
    
